*{
  background-color: #f2d4d4;
}
.input{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
input{
  font-size: 2rem;
  border-radius: 10px;
  color: #a4072c;
  border: 2px solid #a4072c;
}
select{
  border-radius: 10px;
  margin: 10px;
  font-size: 2rem;
  color: #a4072c;
  border: 2px solid #a4072c;
}
